<a href="https://colab.research.google.com/github/withyesu/awesome-datascience-colleges/blob/master/1%E1%84%80%E1%85%A1%E1%86%BC_Python_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1강 - Python 기초

**작성자 : AISchool(http://aischool.ai/)*

# 실습 1 – 변수 설정과 Python 기본 문법(print)을 학습해봅시다

In [ ]:
삼성전자_주가 = 52000
print(삼성전자_주가)

52000

In [ ]:
바나나_가격 = 5000
print(바나나_가격)

5000

In [ ]:
총_구매금액 = 바나나_가격 * 3
print(총_구매금액)

15000

In [ ]:
실업률 = 3.5
print(실업률)

3.5

# 변수이름 생성 규칙



1.   변수에 특수문자($,% 등을 사용할 수 없습니다. 다만 _는 사용가능)
2.   숫자로 시작하는 변수명을 만들 수 없습니다.
3.   공백을 사용할 수 없습니다.
4.   대소문자를 구분합니다.
5.   예약어(for, if 등)를 사용할 수 없습니다.

In [ ]:
$$변수이름 = 22

SyntaxError: ignored

In [ ]:
1변수이름 = 35

SyntaxError: ignored

In [ ]:
변수 이름 = 5

SyntaxError: ignored

In [ ]:
variable1 = 35
Variable1 = 77
print(variable1)
print(Variable1)

35
77

In [ ]:
Variable1 = 27
print(Variable1)

27

In [ ]:
for = 26

SyntaxError: ignored

In [ ]:
if = 22

SyntaxError: ignored

3.5

# 주석(Comment)

In [ ]:
# 한줄 주석 - 주석 부분에 설명을 작성할 수 있습니다. 아래 변수는 현재 주가의 가격을 나타냅니다.
현재_주가 = 5000

In [ ]:
'''
여러줄 주석
이런 형태로 여러줄 주석을 작성할 수 있습니다.
아래 변수는 캠페인 전환율을 나타냅니다.
'''
캠페인_전환율 = 3.5